.container {
	.right-side {
		$card-items: card-img1 card-img2 card-img3 card-img4 card-img5 card-img6 card-img7 card-img8 card-img9 card-img10
			card-img11 card-img12 card-img13 card-img14 card-img15 card-img16 card-img17 card-img18 card-img19 card-img20
			card-img21;

		$i: 1;

		@each $item in $card-items {
			.#{$item} {
				background-image: url('../../dist/img/hydraulika\ \(#{$i}\).png');
			}
			$i: $i + 1;
		}
	}
}
@media (min-width: 1200px) {
	.container {
		.right-side {
			height: 34rem;
			overflow-y: auto;
		}
	}
}
