@use 'utilities/colors' as *;
@use 'utilities/classes';
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
}

// SEKCJA ABOUTUS
.aboutus {
	padding: 4rem 2rem;
	&_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
		.firstcard,
		.secondcard {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			.aboutus_content {
				display: flex;
				flex-direction: column;
				gap: 2rem;
			}
		}
	}

	.section_text {
		font-size: 1.2rem;
		line-height: 20px;
	}
	.img {
		display: flex;
		flex-direction: column;

		img {
			height: 25rem;
			min-width: 100%;
			border-radius: 8px;
			object-fit: cover;
		}
	}
}
.second-baner {
	height: 9rem;

	width: 100%;
	background-color: $main-color;
	.baner-items {
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		.baner-item {
			position: relative;
			display: flex;
			align-items: center;
			.baner-icon {
				position: absolute;
				z-index: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $font-white;
				height: 4rem;
				width: 4rem;
				border-radius: 50%;
				border: 2px solid $font-white;
				background: $main-color;
				left: -0.5rem;
				i {
					font-size: 2.5rem;
					color: $font-white;
				}
			}

			.baner-text {
				z-index: 0;
				color: $font-white;
				padding: 0.7rem 0.7rem 0.7rem 4rem;
				background: transparent;
				border-radius: 8px;
				border: 2px solid $font-white;
				font-size: 1rem;
			}
		}
		.baner-item:nth-child(3) {
			display: none;

			.baner-icon {
				top: -0.7rem;
			}
		}
	}
}

.materials {
	padding-bottom: 4rem;
	.section-heading {
		padding-bottom: 4rem;
	}

	.materials-cards {
		display: flex;
		flex-wrap: wrap;
		gap: 4rem;
		justify-content: center;
		.materials-card {
			max-width: 30rem;
			display: flex;
			border-radius: 8px;
			overflow: hidden;
			flex-direction: column;
			.card-img {
				height: 15rem;
				background-image: url('../../dist/img/bgi\(1\).jpg');
				background-size: cover;
				background-position: center;

				width: 100%;
			}
			.card-content {
				position: relative;

				border: 1px solid rgba(0, 0, 0, 0.2);
				border-top: transparent;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
				padding: 1.5rem;
				padding-top: 3rem;
				display: flex;
				flex-direction: column;
				gap: 2rem;

				.card-icon {
					position: absolute;
					top: -2.5rem;
					right: 2rem;
					height: 5rem;
					width: 5rem;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: white;
					border: 1px solid rgba(0, 0, 0, 0.2);
					border-radius: 50%;
					z-index: 5;

					i {
						font-size: 2.5rem;
						color: $main-color;
					}
				}

				.card-heading {
					font-size: 1.8rem;
					font-weight: 500;
				}

				.card-text {
					color: $font-light;
					font-weight: 500;
					font-size: 1.2rem;
				}
				.card-link {
					text-decoration: none;
					color: $font-white;
					background-color: $main-color;
					border-radius: 8px;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.7rem;
					font-size: 1.3rem;
				}
			}
		}
	}
}

@media (min-width: 576px) {
	html {
		font-size: 68.75%;
	}

	.second-baner {
		.baner-items {
			.baner-item:nth-child(3) {
				display: block;
			}
		}
	}
	
}
@media (min-width: 768px) {
	html {
		font-size: 75%;
	}
	.aboutus {
		&_container {
			.secondcard {
				display: flex;
				flex-direction: row-reverse;
				gap: 2rem;
				.aboutus_content {
					width: 50%;
					padding: 0 3rem;
				}
				.img {
					width: 50%;
				}
			}
			.firstcard {
				display: flex;
				flex-direction: row;
				gap: 2rem;
				.aboutus_content {
					width: 50%;
					padding: 0 3rem;
				}
				.img {
					width: 50%;
				}
			}
		}
	}
	.materials {
		.materials-cards {
			.materials-card {
				max-width: 25rem;
			}
		}
	}
}
@media (min-width: 992px) {
	html {
		font-size: 81.25%;
	}

	.second-baner {
		.baner-items {
			.baner-item {
				.baner-icon {
					width: 4.5rem;
					height: 4.5rem;
				}
				.baner-text {
					padding-left: 4.5rem;
				}
			}
		}
	}
	.materials {
		.materials-cards {
			.materials-card {
				max-width: 24rem;
			}
		}
	}
}
@media (min-width: 1200px) {
	html {
		font-size: 87.5%;
	}
}
