

.container {

	.right-side {

		$card-items: card-img1 card-img2 card-img3 card-img4 card-img5 card-img6 card-img7 card-img8 card-img9 card-img10
			card-img11 card-img12;

		$i: 1;

		@each $item in $card-items {
			.#{$item} {
				background-image: url('../../dist/img/narzd\ \(#{$i}\).png');
			}
			$i: $i + 1;
		}
	}
}


