.container {
	.right-side {
		$card-items: card-img1 card-img2 card-img3 card-img4 card-img5 card-img6 card-img7 card-img8 card-img9 card-img10
			card-img11 card-img12 card-img13 card-img14;

		$i: 1;

		@each $item in $card-items {
			.#{$item} {
				background-image: url('../../dist/img/wnetrza\ \(#{$i}\).jpg');
			}
			$i: $i + 1;
		}
	}
}

@media (min-width: 768px) {
	.container {
		margin-top: 4rem;
		flex-direction: row;
		gap: 2rem;
		.left-side {
			.item-list {
				overflow-y: auto;
			}
		}
		.right-side {
			width: 80%;
			height: max-content;
			overflow-y: scroll;
			padding: 1rem 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 1rem;
		}
	}
}
@media (min-width: 1200px) {
	.container {
		.right-side {
			overflow-y: auto;
		}
	}
}
