// Odnoscie wielkosic itemow


// tekst zwykly 1.2rem

// tekst wiekszy 1.4rem

// tekst najwiekszt  1.5-1.6 rem

// heading - 3rem

// subheading - 2.5rem


.section-padding {
	padding: 4rem 2rem;
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.section-heading{
	.heading-subtitle{
		font-size: 2.5rem;
	}
	.heading-title {
		font-size: 3rem;
	}
}




